<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.lucas.todo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoList">
        <activity
            android:name="br.com.lucas.todo.ui.customSplashScreen.CustomSplashScreenActivity"
            android:theme="@style/Theme.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.lucas.todo.ui.infoTask.InfoTaskActivity"
            android:exported="true"
            android:parentActivityName="br.com.lucas.todo.ui.listTask.ListTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lucas.todo.ui.listTask.ListTaskActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="br.com.lucas.todo.ui.editTask.EditTaskActivity"
            android:exported="true"
            android:parentActivityName="br.com.lucas.todo.ui.listTask.ListTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>
</manifest>